services:

  influxdb:
    container_name: influxdb
    image: influxdb:1.8.3
    restart: unless-stopped
    ports:
      - "127.0.0.1:8086:8086"
      - "127.0.0.1:8083:8083"
      - "127.0.0.1:2003:2003"
    volumes:
      - ./influxdb/data:/var/lib/influxdb
      - ./influxdb/db:/var/lib/influxdb/backup

  grafana:
    container_name: grafana
    image: grafana/grafana
    restart: unless-stopped
    user: "0"
    ports:
      #- "3000:3000"
      # Expose only to localhost
      - "127.0.0.1:3000:3000"
    environment:
      # env vars to allow works on nginx
      - GF_SERVER_ROOT_URL=http://127.0.0.1/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./grafana/log:/var/log/grafana

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:1.6.9
    restart: unless-stopped
    user: "1883"
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/conf:/mosquitto/conf:ro
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

  telegraf:
    container_name: telegraf
    image: telegraf
    restart: unless-stopped
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      - influxdb
      - mosquitto


  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - ./homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
    depends_on:
      - mosquitto
